In [101]:
#import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import HTML
import csv

In [102]:
# wrestling_data = "../resources/Cyber_Security_Breaches.csv"

In [108]:
data = pd.read_csv("Cyber_Security_Breaches.csv") 
data.head(1)

,Unnamed: 0,Number,Name_of_Covered_Entity,State,Business_Associate_Involved,Individuals_Affected,Date_of_Breach,Type_of_Breach,Location_of_Breached_Information,Date_Posted_or_Updated,Summary,breach_start,breach_end,Year
0,1,0,Brooke Army Medical Center,TX,NaN,1000,10/16/2009,Theft,Paper,6/30/2014,A binder containing the protected health infor...,10/16/2009,NaN,2009

In [109]:
data = data.fillna(0)

In [110]:
condensed_data = data.drop(columns=['Individuals_Affected', 'Unnamed: 0', 'Name_of_Covered_Entity', 'State',
                   'Date_Posted_or_Updated', 'breach_start', 'Year', 'breach_end', 'Location_of_Breached_Information',
                   'Business_Associate_Involved', 'Type_of_Breach'])

In [111]:
condensed_data.head()

   Number Date_of_Breach                                            Summary
0       0     10/16/2009  A binder containing the protected health infor...
1       1      9/22/2009  Five desktop computers containing unencrypted ...
2       2     10/12/2009                                                  0
3       3      10/9/2009  A laptop was lost by an employee while in tran...
4       4      9/27/2009  A shared Computer that was used for backup was...

In [113]:
# write it
with open('list_search_summary.csv', 'w') as csvfile:
    writer = csv.writer(csvfile)
    [writer.writerow(r) for r in condensed_data]

In [107]:
#  Try to remove 0 from rows ... GJM
# condensed_data.loc[(condensed_data!=0).any(1)]

In [100]:
# $row = count( $array ) / 5;
# $col = 5;

# echo'<table border="1" width="700">';

# for( $i = 0; $i < $row; $i++ )
# {
#     echo'<tr>';
#     for( $j = 0; $j < $col; $j++ ) {
#         if( ! empty( $array[$j] ) ) {
#             echo '<td>'.$array[$j]['item_id'].'</td>';
#         }
#     }
#     echo'</tr>';
# }

# echo'</table>';